@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu&display=swap');

:root{
  --primary-color: #F04A24;
  --secondary-color: #1C5FAE;
}
html{
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
p{
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.padding-tb{
  padding-top: 50px;
  padding-bottom: 50px;
}





.sundar-btn1{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sundar-btn1 p{
  text-transform: uppercase;
  color: #fff;
  padding: 10px 25px;
  background: var(--primary-color);
  border-radius: 5px;
  opacity: 0.9;
  transition: 0.4s all ease-in-out;
}
.sundar-btn1 p:hover{
  background: var(--secondary-color);
}






/*header css*/
.navbar-bg{
  background: var(--primary-color);
  padding: 0;
}
.navbar-bg .navbar-logo{
  height: 100px;
  overflow: hidden;
  background: #fff;
  margin-left: 15px;
}
.navbar-bg .navbar-logo img{
  height: 100%;
  object-fit: contain;
  padding: 10px 125px;
}
.navbar-menu{
  margin-right: 50px;
}
.navbar-menu ul>li{
  margin-right: 15px;
}
.navbar-menu ul>li>a{
  text-transform: uppercase;
  color: #fff!important;
  font-size:12px;
  font-weight: bold;
}
.dropdown:hover> .dropdown-menu{
  display: block;
  border-radius: 0;
  margin-top: -5px;
  max-height:424px;
  overflow-y:scroll;
}


.social-wrapper {
  z-index: 2;
  position: fixed;
  top: 50%;
  transform: translate(-45%,-50%);
}
.social-wrapper ul {
  list-style: none;
}
.social-wrapper ul li {
  width: 50px;
  height: 50px;
  background: #e59500;
  margin: 10px 0;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.social-wrapper ul li .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #fff;
}
.social-wrapper ul li.facebook {
  background: #3b5999;
}
.social-wrapper ul li.twitter {
  background: #55acee;
}
.social-wrapper ul li.instagram {
  background: #e4405f;
}
.social-wrapper ul li.google {
  background: #dd4b39;
}
.social-wrapper ul li.whatsapp {
  background: #25d366;
}
.social-wrapper .slider {
  position: absolute;
  top: 0;
  left: 51px;
  width: 0px;
  height: 50px;
  line-height: 50px;
  background: #eebb5c;
  text-align: center;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.social-wrapper .slider p {
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0;
  font-weight: 900;
  transition: all 0.2s ease;
}
.social-wrapper ul li.facebook div.slider {
  background: #624aac;
}
.social-wrapper ul li.twitter div.slider {
  background: #7fd5f6;
}
.social-wrapper ul li.instagram div.slider {
  background: #dd94c6;
}
.social-wrapper ul li.google div.slider {
  background: #eea59c;
}
.social-wrapper ul li.whatsapp div.slider {
  background: #82d47e;
}
.social-wrapper ul li:hover .slider {
  width: 180px;
}
.social-wrapper ul li:hover .slider p {
  opacity: 1;
  color: #fff;
}









/*footer css*/
.footer-bg{
  background: rgba(0,0,0,0.05);
}
.footer-logo{
  margin-top: 30px;
  height: 100px;
  overflow: hidden;
}
.footer-logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.footer-card h3, .footer-card h5{
  text-align: center;
}
.footer-card ul{
  padding-left: 0;
  margin-bottom: 0;
}
.footer-card ul>li{
  display: block;
}
.footer-card ul>li>a>p{
  text-align: center;
}







/*home css*/
.home-carousel-card{
  height: 500px;
  overflow: hidden;
}
.home-carousel-image{
  height: 500px;
  overflow: hidden;
}
.home-carousel-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.home-carousel-card h1{
  text-transform: uppercase;
}
.home-carousel-card .carousel-caption{
  bottom: 100px;
}
.home-carousel-card .sundar-btn{
  display: inline-block;
}
.home-carousel-card .sundar-btn p{
  text-transform: uppercase;
  color: #fff;
  padding: 10px 25px;
  background: var(--primary-color);
  border-radius: 5px;
  opacity: 0.9;
  transition: 0.4s all ease-in-out;
}
.home-carousel-card .sundar-btn p:hover{
  background: var(--secondary-color);
}




.home-quote{
  background: var(--primary-color);
  text-align: center;
}
.home-quote h2{
  color: #eee;
}
.home-quote p{
  color: #eee;
  font-style: italic;
}
.home-about-card{
  text-align: center;
}
.home-about-card h3{
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.border-design{
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.border-design>li{
  display: inline-block;
}
.border-design>li>p{
  color: #fff;
}
.border-design>li>p>span{
 width: 50px;
 background: #fff;
 height: 2px;
 display: block;
 margin: 5px;
}





/*home testimonial*/
.home-testimonial-bg{
  background: var(--primary-color);
  text-align: center;
}
.home-testimonial-card h3{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}
.home-testimonial-card h6{
  color: #fff;
  margin-bottom: 30px;
}
.home-member-bg{
  background: #000;
}
.home-member-border{
  text-align: center;
}
.home-member-card h6{
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.home-member-card h2{
  text-transform: uppercase;
  color: var(--primary-color);
}
.home-member-card span{
  width: 75px;
  height: 3px;
  background: var(--primary-color);
  display: block;
  margin-bottom: 30px;
}
.home-member-card p{
  text-align: justify;
  color: #fff;
}
.home-membership-card{
  text-align: center;
  margin-top: 30px;
}
.home-membership-card h4{
  text-transform: uppercase;
  color: var(--primary-color);
}
.home-membership-card p{
  text-align: center;
}
.home-membership-border{
  border-left: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
}















.border-design2{
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.border-design2>li{
  display: inline-block;
}
.border-design2>li>p{
  color: var(--primary-color);
}
.border-design2>li>p>span{
 width: 50px;
 background: var(--primary-color);
 height: 2px;
 display: block;
 margin: 5px;
}




















/*fb messanger*/
.fb-livechat,.fb-widget{display:none}
.ctrlq.fb-button,.ctrlq.fb-close{position:fixed;right:7px;cursor:pointer}
.ctrlq.fb-button{z-index:1;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;width:55px;height:55px;text-align:center;bottom:4px;border:0;outline:0;border-radius:60px;-webkit-border-radius:60px;-moz-border-radius:60px;-ms-border-radius:60px;-o-border-radius:60px;box-shadow:0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16);-webkit-transition:box-shadow .2s ease;background-size:80%;transition:all .2s ease-in-out}
.ctrlq.fb-button:focus,.ctrlq.fb-button:hover{transform:scale(1.1);box-shadow:0 2px 8px rgba(0,0,0,.09),0 4px 40px rgba(0,0,0,.24)}
.fb-widget{background:#fff;z-index:2;position:fixed;width:352px;height:397px;overflow:hidden;opacity:0;bottom:0;right:0px;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;box-shadow:0 5px 40px rgba(0,0,0,.16);-webkit-box-shadow:0 5px 40px rgba(0,0,0,.16);-moz-box-shadow:0 5px 40px rgba(0,0,0,.16);-o-box-shadow:0 5px 40px rgba(0,0,0,.16)}
.fb-credit{text-align:center;margin-top:8px}
.fb-credit a{transition:none;color:#bec2c9;font-family:Helvetica,Arial,sans-serif;font-size:12px;text-decoration:none;border:0;font-weight:400}
.ctrlq.fb-overlay{z-index:0;position:fixed;height:100vh;width:100vw;-webkit-transition:opacity .4s,visibility .4s;transition:opacity .4s,visibility .4s;top:0;left:0;background:rgba(0,0,0,.05);display:none}.ctrlq.fb-close{z-index:4;padding:0 6px;background:#365899;font-weight:700;font-size:11px;color:#fff;margin:8px;border-radius:3px}
.ctrlq.fb-close::after{content:'x';font-family:sans-serif}




#myBtn {
  padding: 0 13px;
  display: none;
  position: fixed;
  bottom: 66px;
  right: 12px;
  z-index: 99;
  font-size: 31px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 5%;
  opacity: 0.8;

}
#myBtn:hover {
  opacity: 1;
}